/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/resources/certs/

#仮のignore
/public/fonts
/public/lib
/public/js/upload.js
/resources/views/dashbord/
/resources/views/test/
/app/Http/Controllers/Test/